<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<context-param>
		<param-name>keycloak.config.resolver</param-name>
		<param-value>org.sistcoop.cooperativa.PathBasedKeycloakConfigResolver</param-value>
	</context-param>

	<!-- keycloak aplication name -->
	<module-name>cooperativa</module-name>

	<!-- java ee roles -->
	<security-role>
		<role-name>ver-bovedas</role-name>
	</security-role>
	<security-role>
		<role-name>administrar-bovedas</role-name>
	</security-role>
	<security-role>
		<role-name>administrar-bovedas-agencia</role-name>
	</security-role>
	<security-role>
		<role-name>ver-cajas</role-name>
	</security-role>
	<security-role>
		<role-name>administrar-cajas</role-name>
	</security-role>
	<security-role>
		<role-name>administrar-cajas-agencia</role-name>
	</security-role>

	<!-- users permisions -->
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/rest/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ver-bovedas</role-name>
		</auth-constraint>
	</security-constraint>	
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/rest/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrar-bovedas</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/rest/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrar-bovedas-agencia</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/rest/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ver-cajas</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/rest/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrar-cajas</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/rest/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrar-cajas-agencia</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/rest/api-docs/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<!-- Login method -->
	<login-config>
		<auth-method>KEYCLOAK</auth-method>
		<realm-name>sistcoop</realm-name>
	</login-config>

	<!-- swangger -->
	<context-param>
		<param-name>javax.ws.rs.core.Application</param-name>
		<param-value>org.sistcoop.cooperativa.JaxRsActivator</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>
			com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON						
		</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.providers</param-name>
		<param-value>
	        com.wordnik.swagger.jaxrs.json.JacksonJsonProvider,
	        com.wordnik.swagger.jaxrs.listing.ApiDeclarationProvider,
	        com.wordnik.swagger.jaxrs.listing.ResourceListingProvider        	        
    	</param-value>
	</context-param>
	<servlet>
		<servlet-name>SwaggerBootstrap</servlet-name>
		<servlet-class>org.sistcoop.cooperativa.Bootstrap</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

</web-app>